@media only screen and (max-width: 1400px) and (min-width: 1200px) {
.layout_contact img {
   width: 48%;
}

.layout_contact div {
    width: 48%;
}}
@media only screen and (max-width: 1200px) and (min-width: 760px) {
.layout_contact img {
   display: none;
}

.layout_contact div {
    width: 70%;
}}
@media only screen and (max-width: 1400px) and (min-width: 760px) {
  .name h1 {
    font-size: 50px;
    margin-bottom: 70px;
  }

  .layout_name_foto img {
    width: 50%;
    margin: 0;
  }
  .name {
    width: 50%;
  }
  .name .btn {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }

  .layout_new_member img {
    width: 70%;
    padding-left: 0px;
  }

  .layout_new_member div {
    width: 100%;
  }
  #IntentionKeeper {
    background-color: #000000;
  }
  #leko {
    background-color: #666666;
  }
  #jungle {
    background-color: #8f918c;
  }
  .carousel img {
    height: 200px;
    padding: 40px 40px;
    border: 1px solid #000000;
    width: calc(95% / 2);
    filter: grayscale(0%);
    filter: contrast(100%);
    filter: brightness(100%);
  }

  .left,
  .right {
    margin-top: 70px;
  }
  .icon {
    padding: 10px;
    margin-top: 30px;
  }
  .icon h4 {
    margin: 30px 0;
    width: 40%;
  }
  .icon img {
    filter: grayscale(100%);
    width: fit-content;
    height: 40px;
    margin: auto;
  }
  h4 {
    font-size: 30px;
    text-transform: none;
    color: #5b5b5b;
  }
  .web_br {
    display: none;
  }

  .layout_need_somebody {
    margin: 40px auto;
    gap: 0;
  }

  .layout_need_somebody img {
    width: 100%;
  }
  .layout_need_somebody div {
    width: 100%;
  }

  .layout_ui h1 {
    width: 100%;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 50px;
  }
  .layout_ui p {
    width: 100%;
    padding: 20px 0;
  }
  .layout_ui {
    border-bottom: 0px;
    border-right: 0px;
    margin: 10px auto;
  }
  .layout_mockup a {
    font-size: 12px;
    
  }
  .layout_mockup img {
    padding-bottom: 0;
    
  }
  .layout_mockup .btn {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    padding: 20px;

  }
  .color-change-image {
    filter: grayscale(100%);
  }




  

  
  .mockup_right {
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px;
  }
  .mockup_right img {
    width: 100%;
  margin-top: 60px;
  }
  .portfolio_ui_web {
    margin: 0;
    width: 100%;
    padding: 0;
  }
  .portfolio_ui_text {
    width: 100%;
    
  }
  
  .portfolio_ui_web .btn {
    padding: 20px 20px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  .gallery {
    
    height: 150px;
    
  }
  
  .gallerymini {
    
    height: 200px;
    
  }
  
  
  .layout_contact h3 {
    font-size: 40px;
  }
  
  
  .mail {
    height: fit-content;
    padding: 30px 20px 0px 20px;
    overflow: hidden;
    margin: 0;
  }

  .send input {
    font-size: 12px;
    padding: 20px 20px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: 0;
  }
}
