.layout_name_foto {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}
.name {
  width: 60%;
  text-align: left;
  padding-top: 30px;
}
.name p {
  font-weight: 400;
  font-size: 30px;
  line-height: 320%;
  text-transform: uppercase;
}
.name h1 {
  margin-bottom: 75px;
}
.layout_name_foto img {
  width: 40%;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}
.layout_name_foto img:hover {
  filter: grayscale(0%);
}
.btn {
  width: fit-content;
  height: min-content;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.name .btn {
  padding: 30px 40px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}
.name .btn:hover {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

.layout_new_member {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  gap: 5%;
}
.layout_new_member h4 {
  width: 100%;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
}
.layout_new_member img {
  width: 50%;
  position: relative;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}
.layout_new_member div {
  width: 45%;
  margin-top: auto;
  padding-bottom: 20px;
  padding-top: 30px;
}
.text_padding p {
  padding: 10px;
}
.layout_new_member img:hover {
  filter: grayscale(0%);
}

#IntentionKeeper:hover {
  background-color: #000000;
}
#leko:hover {
  background-color: #666666;
}
#jungle:hover {
  background-color: #8f918c;
}
.icon {
  padding: 20px;
  margin-bottom: 30px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
.icon h4 {
  margin: auto 0;
}
.icon img {
  filter: grayscale(100%);
}
.icon img:hover {
  filter: grayscale(0%);
}

.layout_need_somebody {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto;
  gap: 5%;
}
.layout_need_somebody h4 {
  width: 100%;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
}
.layout_need_somebody img {
  width: 60%;
  position: relative;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s linear;
}
.layout_need_somebody div {
  width: 35%;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 20px;
  padding-top: 30px;
}
.layout_need_somebody img:hover {
  filter: grayscale(0%);
}

.wrapper {
  max-width: 100%;
  display: flex;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel img {
  height: 350px;
  object-fit: scale-down;
  border: 1px solid #000000;
  margin: 0 15px;
  width: calc(95% / 3);
  filter: grayscale(100%);
  filter: contrast(0%);
  filter: brightness(0%);
}

.carousel img:hover {
  filter: grayscale(0%);
  filter: contrast(100%);
  filter: brightness(100%);
}

.left,
.right {
  cursor: pointer;
  position: inherit;
  width: auto;
  height: 61px;
  padding: 16px;
  margin-top: 150px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Position the "next button" to the right */
.right {
  border-radius: 5px 0 0 5px;
  margin-left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.left:hover,
.right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
