@media (max-width: 768px) {
 /* App */

  .app img {
    width: calc(200px / 1);
    margin: 12px;
    height: 442px;
    object-fit: cover;
    object-position: top;
  }
  .app_strelica {
    margin-top: 200px;
  }
  .wrapp_mob {
    display: flex;
  }
  .gallerymini img {
    width: 33.333333%;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }
  .gallerymini {
    height: 150px;
  }
  .prev,
  .next {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
}
