---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
import content_img from "../assets/images/contact_img.png";

import bcard from "../assets/images/Vizitka.png";
import bcardback from "../assets/images/Vizitka hover.png";
const key = import.meta.env.PUBLIC_EMAIL;
---

<Layout title="Iva Valencic - Designer">
  <main>
    <section class="container layout_contact">
      <h3 class="">Send me <br class="mob_img" />a message</h3>
      <p>
        I would love to hear from you! Use this form to send me an email and ask
        any questions you may have.
      </p>
      <div>
        <form
          action="https://api.web3forms.com/submit"
          method="POST"
          id="form"
          class="needs-validation mail"
          novalidate
        >
          <input type="hidden" name="access_key" value={key} />
          <label for="ime">Name and surname:</label>
          <input id="name" name="Name" type="text" required />
          <label for="Email">Email:</label>
          <input id="email" name="Email" type="email" required />
          <label for="Message">Text:</label>
          <textarea name="Message" id="message" rows="10"></textarea>
          <Button type="submit" id="contact">Reach Out</Button>
          <div id="result"></div>
        </form>
      </div>

      <Image src={bcard} alt="Iva Valencic" id="bcard" title="business card" />
      <Image
        src={bcardback}
        alt="Iva Valencic"
        id="bcardback"
        title="business card back"
      />
    </section>
  </main>
</Layout>
<script is:inline>
  const form = document.getElementById("form");
  const result = document.getElementById("result");

  form.addEventListener("submit", function (e) {
    e.preventDefault();
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
    const formData = new FormData(form);
    const object = Object.fromEntries(formData);
    const json = JSON.stringify(object);

    result.innerHTML = "Sending...";

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let json = await response.json();
        if (response.status == 200) {
          result.innerHTML = json.message;
        } else {
          console.log(response);
          result.innerHTML = json.message;
        }
      })
      .catch((error) => {
        console.log(error);
        result.innerHTML = "Something went wrong!";
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");
        setTimeout(() => {
          result.style.display = "none";
        }, 5000);
      });
  });
  let bcard = document.getElementById("bcard");
  let bcardback = document.getElementById("bcardback");

  bcard.addEventListener("mouseenter", () => {
    bcard.style.display = "none";
    bcardback.style.display = "block";
  });

  bcardback.addEventListener("mouseleave", () => {
    bcard.style.display = "block";
    bcardback.style.display = "none";
  });
</script>
<style>
  #bcard {
    display: block;
  }
  #bcardback {
    display: none;
  }

  .layout_contact {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
  }
  .layout_contact h3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .layout_contact img {
    width: 45%;
    height: 800px;
    margin-top: 30px;
  }
  .layout_contact p {
    width: 100%;
  }
  .layout_contact div {
    width: 45%;

    border: 1px solid #000000;
    margin-top: 30px;
  }

  .mail {
    height: 800px;
    padding: 80px 80px 30px 80px;
  }
  .mail input,
  .mail textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 10px;
    background-color: #fbfaf8;
  }
  .mail input {
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: none;
    border-right: none;
  }
  .mail textarea {
    border: 1px solid #000000;
    resize: none;
  }
  #result {
    border: none;
  }
  @media (max-width: 768px) {
    .layout_contact {
      display: flex;
      flex-wrap: wrap;
      margin: 30px auto;
      gap: 0;
    }
    .layout_contact h3 {
      font-size: 40px;
    }
    .layout_contact img {
      width: 100%;
      height: fit-content;
      display: none;
    }

    .layout_contact div {
      width: 100%;
    }

    .mail {
      height: fit-content;
      padding: 30px 20px 0px 20px;
      overflow: hidden;
      margin: 0;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 768px) {
    .layout_contact img {
      width: 100%;
      display: none;
    }

    .layout_contact div {
      width: 100%;
    }
  }
  @media only screen and (max-width: 1440px) and (min-width: 1200px) {
    .layout_contact img {
      width: 45%;
      height: 650px;
    }

    .layout_contact div {
      width: 45%;
    }
  }
  @media only screen and (max-width: 1440px) and (min-width: 760px) {
    .layout_contact h3 {
      font-size: 40px;
    }
    .layout_contact p {
      width: 90%;
    }

    .mail {
      height: fit-content;
      padding: 30px 20px 0px 20px;
      overflow: hidden;
      margin: 0;
    }
  }
</style>
