---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Iva Valencic - Designer">
  <main>
    <section class="container layout_name_foto">
      <div class="name">
        <p>ui designer</p>
        <h1>Iva Valenčić</h1>
        <a href="kontakt.html" class="btn">See the latest project</a>
      </div>

      <img
        src="slike/iva_foto.jpg"
        alt="Iva Valencic"
        class="color-change-image"
      />
    </section>
    <section class="container layout_new_member">
      <h4>Looking for a new member for your creative team?</h4>
      <img
        src="slike/iva_new_mamber.jpg"
        alt="Iva Valencic"
        class="web_img color-change-image"
      />
      <div class="text_padding">
        <p>
          I am a Croatia-based designer. A graduate of the Zgreb School of Fine
          Arts and a student of Algebraic Visual communication design. I worked
          as a graphic designer for C&A, began my Ui design career at
          Luna&Tocka, a marketing company, and even collaborated with Amor
          Lingua School to create one of their pages. I took part in the ICDC
          Challenge 2023 as a member of the Croatian team.
        </p>
        <img
          src="slike/iva_new_mamber.jpg"
          alt="Iva Valencic"
          class="mob_img color-change-image"
        />
        <p>
          As a freelancer, I continue to work with smaller companies, but I
          would like to join a larger team of designers so that I may learn from
          more knowledgeble and skilled people and bring my ideas to the time.
        </p>
      </div>
    </section>
    <section class="wrapper">
      <a class="left" onclick="left()">&#10094;</a>
      <div class="carousel">
        <a href="projekti/leko_i_partneri.html"
          ><img
            src="slike/logo/Leko_partneri.svg"
            alt="Leko i prijatelji"
            id="leko"
          /></a
        >
        <a href="projekti/intention_keeper.html"
          ><img
            src="slike/logo/IntentionKeeper.svg"
            alt="IntentionKeeper"
            id="IntentionKeeper"
          /></a
        >
        <a href="projekti/jungle_portfolio.html"
          ><img
            src="slike/logo/jungle.svg"
            alt="Jungle dance studio"
            id="jungle"
          /></a
        >
        <a href="projekti/leko_i_partneri.html"
          ><img
            src="slike/logo/Leko_partneri.svg"
            alt="Leko i prijatelji"
            id="leko"
          /></a
        >
        <a href="projekti/intention_keeper.html"
          ><img
            src="slike/logo/IntentionKeeper.svg"
            alt="IntentionKeeper"
            id="IntentionKeeper"
          /></a
        >
        <a href="projekti/jungle_portfolio.html"
          ><img
            src="slike/logo/jungle.svg"
            alt="Jungle dance studio"
            id="jungle"
          /></a
        >
      </div>
      <a class="right">&#10095;</a>
    </section>

    <section class="icon">
      <div class="container">
        <h4>What I use:</h4>
        <img src="slike/ikone/figma.png" alt="Figma" />
        <img src="slike/ikone/ps.png" alt="Photoshop" />
        <img src="slike/ikone/ai.png" alt="Indesign" />
        <img src="slike/ikone/affinity.png" alt="Affinity" />
        <img src="slike/ikone/html.png" alt="HTML" />
        <img src="slike/ikone/css.png" alt="CSS" />
      </div>
    </section>

    <section class="container layout_need_somebody">
      <h4>
        Need somebody to help you create
        <br class="web_br" /> interesting and challenging designs?
      </h4>
      <div class="text_padding">
        <p>
          I am a UI designer that specializes in minimalistic and elegant
          websites. I enjoy demonstrating the prestige of products and services
          using colors and white space.
        </p>

        <p>
          I build premium websites with easily accessible information by fusing
          aesthetic appeal with technical usability. I use figma and adobe
          programs to create sites that showcase brands class as well as their
          knowledge. I work to make smaller brands find their customers and
          captivate them with their prestige.
        </p>
        <img
          src="slike/iva_somebody.jpg"
          alt="Iva_foto"
          class="mob_img color-change-image"
        />
        <p>
          Elegance is felt in every click a customer makes before deciding to
          purchase goods or use service. My goal is for brands to find their
          true prestige in their online presence, and to show their customers
          the new way to solve their problems.
        </p>
      </div>
      <img
        src="slike/iva_somebody.jpg"
        alt="Iva_foto"
        class="web_img color-change-image"
      />
    </section>
  </main>
</Layout>

<script>
  const carousel = document.querySelector('.carousel')!;
  const firstImg = carousel.querySelectorAll('img')[0];

  let firstImgWidth = firstImg.clientWidth + 32; // getting firsth img width  and adding 32px (30m 2b) for the margin value

  function left() {
    carousel.scrollLeft -= firstImgWidth;
  }
  function right() {
    carousel.scrollLeft += firstImgWidth;
  }

  if (window.matchMedia('(max-width: 1400px)').matches) {
    const images = document.querySelectorAll('.color-change-image');

    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 1, // Adjust this value based on how much of the image needs to be visible to trigger the color change
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // If the image is in the viewport, remove the grayscale filter
          entry.target.style.filter = 'none';
        } else {
          // If the image is not in the viewport, apply the grayscale filter
          entry.target.style.filter = 'grayscale(100%)';
        }
      });
    }, options);

    // Start observing each image
    images.forEach((image) => {
      observer.observe(image);
    });
  }
</script>
