---
interface Props {
  id?:
    | "contact"
    | "prev"
    | "next"
    | "projects"
    | "project"
    | "left"
    | "right"
    | "close"
    | "modal_left"
    | "modal_right"
    | string;
  type?: "submit" | string;
}

const { id } = Astro.props;
---

<button id={id}>
  <slot />
</button>

<style>
  button {
    width: fit-content;
    height: min-content;
    padding: 30px 40px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
  }

  button:hover {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
  }
  #contact {
    margin-top: 20px;
  }
  #projects {
    border-left: 1px solid #fff;
    border-right: 1px solid #000000;
  }
  #projects:hover {
    border-left: 1px solid #000000;
  }
  #project {
    margin-top: 20px;
  }
  #left,
  #right,
  #modal_left,
  #modal_right {
    cursor: pointer;
    position: absolute;
    width: 2vw;
    height: 6vh;
    padding: 0px 12px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    border: 0px;
    top: 40%;
  }
  #right,
  #modal_right {
    border-radius: 5px 0 0 5px;
    right: 3vw;
  }
  #left,
  #modal_left {
    left: 3vw;
  }
  #modal_left,
  #modal_right {
    position: fixed;
    top: 30vh;
  }

  #close {
    color: white;
    position: fixed;
    top: 10px;
    right: 40px;
    font-size: 35px;
    font-weight: bold;
    border: 0px;
  }

  #close:hover,
  #close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  #prev,
  #next {
    cursor: pointer;
    position: fixed;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  #next {
    margin-right: 17px;
    right: 6.5%;
    border-radius: 3px 0 0 3px;
  }
  #prev {
    left: 6.5%;
  }
  #prev:hover,
  #next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 768px) {
    #contact {
      font-size: 12px;
      padding: 20px;
      margin: 15px auto;
    }
    #projects {
      font-size: 12px;
      padding: 20px 30px;
      border-right: 1px solid #fff;
      border-left: 1px solid #000000;
    }
    #left,
    #right,
    #modal_left,
    #modal_right {
      width: 3vw;
    }
  }
  @media only screen and (max-width: 1440px) and (min-width: 760px) {
    #contact {
      font-size: 12px;
      padding: 20px;
      margin: 20px 0;
    }
    #projects {
      font-size: 12px;
      padding: 15px 20px;
    }

    #left,
    #right,
    #modal_left,
    #modal_right {
      width: 2.5vw;
    }
  }
</style>
