<footer>
  <div class="container">
    <div class="contact_footer">
      <img src="images/logo/iva_valencic_logo.svg" alt="Iva Valencic" />
      <p>
        MESSAGE ME:<a href="https://wa.me/385991928005" target="_blank"
          ><img src="../images/icons/wapp.svg" alt="Wapp" /></a>
      </p>
      <p>
        SEND ME AN EMAIL: <a
          href="https://mail.google.com/mail/?view=cm&to=ivav3831@gmail.com"
          target="_blank">ivav3831@gmail.com</a>
      </p>
    </div>
    <nav class="nav_footer">
      <a href="index.html">Home</a>

      <a href="ui_design.html">Projects</a>

      <a href="src/pages/contact.astro" class="active">Contact</a>
    </nav>
  </div>
</footer>
