<nav class="navbar">
  <section class="container">
    <a href="ui_design.html">Projects</a>

    <a href="index.html"
      ><img src="images/logo/iva_logo.svg" class="logo" alt="Iva Valencic" /></a
    >
    <a href="kontakt.html">Contact</a>
  </section>
</nav>
