---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /></head
  >
  <link rel="stylesheet" href="css/style.css" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <body>
    <Nav />
    <slot />
    <Footer />
  </body>


</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  section {
    padding: 30px 0;
    height: fit-content;
  }
  p {
    font-family: "Catamaran";
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1em;
  }
  h1 {
    font-family: "Playfair Display SC";
    font-weight: 700;
    font-size: 100px;
    line-height: 114%;
    letter-spacing: 0.1em;
    color: white;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
  }
  h2 {
    font-family: "Playfair Display SC";
    font-weight: 700;
    font-size: 50px;
    line-height: 228%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px black;
  }
  h3 {
    font-family: "Playfair Display SC";
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 0.6px black;
  }
  .h3_full {
    -webkit-text-stroke: 0;
    color: #5b5b5b;
  }
  h4 {
    font-family: "Playfair Display SC";
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    -webkit-text-stroke: 0.6px black;
  }
  
</style>